
@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid bg-1 text-center" style="width:100%;">
    <h3 class="margin" style="color:black">Contact Us</h3>
    <p style="color:black">
        Welcome! We're glad you're here.
    </p>
    <p style="color:black">
        And we’re ready to help. Our goal is to answer your questions and get you where you need to be. We’ll start by guiding you through some common areas of interest, or topics. If you don’t see your answer, you can easily find all of our contact numbers here.
    </p>

    <p style="color:black"><b>Corporate Addresses:</b></p>
    <p style="color:black">Cigna Corporate Headquarters</p>
    <p style="color:black">900 Cottage Grove Road</p>
    <p style="color:black">Bloomfield, CT 06002</p>
    <hr />
    <p style="color:black">Two Liberty Place</p>
    <p style="color:black">1601 Chestnut Street</p>
    <p style="color:black">Philadelphia, PA 19192</p>

</div>

