
@{
    ViewBag.Title = "loginview";
}

<!DOCTYPE html>

<html>
<head>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"> </script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>forgetpassword</title>

   
       
  
</head>
<body>
    <div> 
        @using (Html.BeginForm("forgetpassword", "login", FormMethod.Post))

        {
            <br />
            <i class="lbl"> enter user name: </i>
            <input id="usn2" class="txtbox" type="text" name="username"title="Username" required/>
            <span class="label label-danger " id="f1" name=""></span>
            <br />
          
            <br />
            <input id="Submit1"class="btn btn-primary" type="submit" value="Next" title="submit"/>
            <br />
           
            <br />

        }
    </div>
    <script src="~/Scripts/JavaScript.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
