
      

@{
    ViewBag.Title = "loginview";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>homepage</title>
</head>
<body>
    <div> 
       
        welcome home

       
        <br />
      


    </div>
</body>
</html>
