
@{
    ViewBag.Title = "loginview";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>passwordvalidation</title>
    

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div> 
        @using (Html.BeginForm("passwordvalidation", "login", FormMethod.Post))

        {
            <i class="lbl"> date of birth  </i>
            <input id="Text1" type="date" name="passvalidation" class="btn" />
            <br />
         
            <input id="Submit1" class="btn" type="submit" value="submit" />
            <br />


            @Html.ValidationSummary();
            <br />

        }




    </div>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>
