
@model CignaInsurance.Models.MailModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>sendmail</title>
</head>
<body>
    <div> 
        <legend>
        Send Email
        </legend>
      <p>cheack your email</p>





    </div>
</body>
</html>
