
@{
    ViewBag.Title = "FinishChooseDoctor";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    h1, h2 {
        color: blue;
    }
</style>

<div class="alert alert-success">
    <strong>Success!</strong> You choose the Doctor <span style="color:orangered">@ViewData["DoctorID"]</span> successfully
</div>

<br />
<br /><br /><br />
