
@{
    ViewBag.Title = "FinishChooseDoctorGuest";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<style>
    h1,h2{
        color: blue;
    }
</style>


<div class="alert alert-warning">
    <strong>Sorry!</strong>Fail to choose a Doctor because:<br />
    Only user can choose a doctor. Please Login First.
</div>

<br /><br /><br /><br />

