<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Header.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li>
            <a href="">Personal</a>
        </li>
    </ul>
    <div>

        <img src="~/Image/logo.png" height="100" width="100"/>
    </div>
</body>
</html>
